<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport color="primary"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/leaderboard/755106635885838477" (click)="drawer.close()">🏆 Leaderboard</a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <span class="logo" color="primary" routerLink="/" routerLinkActive="active">
                <img class="logo-image" src="../../../assets/img/archy.jpg"
                    alt="Cute Froge">
                Archy
            </span>

            <span class="fill-space"></span>

            <div *ngIf="(isHandset$ | async) === false">
                <a mat-raised-button color="primary" routerLink="/leaderboard/755106635885838477">🏆 Leaderboard</a>
            </div>

        </mat-toolbar>
        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>
