<div class="home-container">

    <div align="center" class="logo">
        <br>
        <img alt="Archy" style="border-radius: 15px;"
            src="../../assets/img/archy.jpg"
            width="300px">
        <h1>Open source serverless bot!</h1>
    </div>
    <br>
    <p align="center" class="github-shield">
        <a href="https://github.com/ArmandBriere/archy/issues">
            <img src="https://img.shields.io/github/issues/ArmandBriere/archy" alt="GitHub issues">
        </a>
        <a href="https://github.com/ArmandBriere/archy/releases">
            <img src="https://img.shields.io/github/v/release/ArmandBriere/archy" alt="GitHub Release">
        </a>
        <a href="https://discord.gg/y76YCwFp3d">
            <img src="https://discordapp.com/api/guilds/964701887540645908/widget.png" alt="">
        </a>
    </p>
    <div align="center" class="source-code">
        Come check the source code on
        <a style="text-decoration:none; color: white" href="https://github.com/ArmandBriere/archy/">
            GitHub 🔗
        </a>
    </div>

    <div class="contributors">
        <app-contributor></app-contributor>
    </div>
</div>
