<div class="servers">
    <mat-card class="server-card" *ngFor="let server of servers">
        <img [src]="server.server_icon">
        <h3>{{server.server_name}}</h3>
        <h5>{{server.member_count}} users</h5>
        <button mat-raised-button color="primary" [routerLink]="['/leaderboard/'+server.server_id]"
            routerLinkActive="router-link-active">Leaderboard</button>
        <button mat-button *ngIf="server.join" (click)="joinServer(server.join)">Join server</button>
    </mat-card>
</div>
