<div class="contributor-container">
    <div class="title">
    {{'contributor.top' | i18next}}
    </div>
    <div class="contributors">
        <div class="contributor" *ngFor="let contributor of contributors">
            <div class="profile-picture">
                <button mat-fab color="primary" (click)="openGithubPage(contributor)">
                    <img [src]="contributor.profilePictureUrl">
                </button>
            </div>
            <div class="name">
                {{contributor.name}}
            </div>
        </div>
    </div>
</div>
