.outer-card {
    padding: 10px 30px;
    background-color: transparent;
    box-shadow: none;
}

.inner-card {
    padding: 10px 15px;
    background: #212121;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .name,
    .message_count,
    .exp,
    .level {
        font-size: medium;
        font-weight: bold;
        margin: 0 20px;
        text-align: center;
    }

    .column_name {
        font-size: xx-small;
        text-decoration: underline;
        font-weight: lighter;
        margin-bottom: 5px;
        color: grey;
    }

    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .profile-picture {
        margin: 0 25px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .left-side {
        flex: 1;
        text-align: left;
    }

    .right-side {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .progress {
        display: flex;
        align-items: center;

        .mat-progress-spinner {
            stroke-linecap: round;
        }
    }
}

.disclaimer {
    text-align: center;
    color: white;
    
    p {
        margin: 5px;
        font-weight: bold;
    }
}
