<mat-card class="outer-card">
    <div>
        <h2 style="text-align:center;">
            {{'Leaderboard.leaderboard' | i18next}}
        </h2>
    </div>

    <mat-card-content>
        <div class="inner-card" cdkDrag *ngFor="let user of users; let i = index">
            <div class="content">
                <div class="left-side">
                    <div class="name">
                        {{ i+1 }}
                        <img class="profile-picture" [src]=user.avatar_url alt="Image not found"
                            onerror="this.src='../../assets/img/Discord-Logo-White.svg';">
                        <span *ngIf="user.username.length <= 13; else shortName">
                            {{ user.username }}
                        </span>
                        <ng-template #shortName>
                            {{ user.username.slice(0, 10) + '...' }}
                        </ng-template>
                    </div>
                </div>
                <div class="right-side">
                    <div class="message_count" *ngIf="user.message_count" [matTooltip]="user.message_count.toString()"
                        matTooltipShowDelay="500">
                        <div class="column_name">MESSAGES</div>
                        {{ user.message_count | formatWithK }}
                    </div>
                    <div class="exp" [matTooltip]="user.total_exp.toString()" matTooltipShowDelay="500">
                        <div class="column_name">EXPERIENCE</div>
                        {{ user.total_exp | formatWithK }}
                    </div>
                    <div class="level">
                        <div class="column_name">LEVEL</div>
                        {{ user.level }}
                    </div>
                    <div class="progress">
                        <mat-progress-spinner class="progress-spinner" [diameter]="70" mode="determinate"
                            [value]="user.progress">
                        </mat-progress-spinner>
                        <div class="percent">
                            {{ user.progress | number: '1.0-0' }}%
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="disclaimer">
            <p>
                {{ 'Leaderboard.wonder' | i18next | uppercase}}
            </p>
            <p>
                {{ 'Leaderboard.reason' | i18next | uppercase}}
            </p>
            <p>
                {{ 'Leaderboard.solution' | i18next | uppercase}}
            </p>
        </div>
    </mat-card-content>
</mat-card>
