.outer-card {
    margin: 10px;
    width: calc(100% - 40px);
    padding: 10px;
    background: #212121;
}

.inner-card {
    margin: 20px 0;
}

.content {
    margin: 8px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: max-content;

    .name,
    .message_count,
    .exp,
    .level {
        font-size: medium;
        font-weight: bold;
        margin: 0 10px;
        text-align: center;
    }

    .column_name {
        font-size: x-small;
        font-weight: lighter;
        margin-bottom: 5px;
        color: grey;
    }

    .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .profile-picture {
        margin: 0 5px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .left-side {
        text-align: left;
    }

    .right-side {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.progress-bar {
    height: 8px;
    margin: 0 20px;
    border-radius: 20px;
    background-color: lightgrey;
}

.progress-bar-fill {
    background-color: rgb(50, 122, 50);
    border-radius: 20px;
    height: 100%;
}
